---
---

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "SF UI Display", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  margin: 0;
}

section.billboard {

}

// section.billboard__inner {
//   max-width: 980px;
//   margin: 0 auto;
// }

section.grid {
  display: grid;
  grid-template-columns: repeat(var(--LayerColumns, 1), 1fr);
  grid-gap: 32px;

  @media (min-width: 600px) {
    --LayerColumns: 2;
  }

  @media (min-width: 1000px) {
    --LayerColumns: 4;
  }
}
