---
---

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "SF UI Display", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  margin: 0;
}

.billboard {
  .billboard-inner {
    max-width: 1044px;
    margin: 0 auto;
    padding: 32px;

    article {
      display: grid;
      grid-template-columns: repeat(var(--LayerColumns, 1), minmax(50%, 1fr));
      grid-gap: 32px;
      align-items: center;

      @media (min-width: 600px) {
        --LayerColumns: 2;
      }

      @media (max-width: 600px) {
        justify-items: center;
        text-align: center;
      }
    }
  }
}

.grid {
  .grid-inner {
    max-width: 1044px;
    margin: 0 auto;
    padding: 32px;
    display: grid;
    grid-template-columns: repeat(var(--LayerColumns, 1), 1fr);
    grid-gap: 32px;

    @media (min-width: 600px) {
      --LayerColumns: 2;
    }

    @media (min-width: 1000px) {
      --LayerColumns: 4;
    }
  }
}
