<!--
Test
-->

{% for layer in page.layers %}
<section class="Layer">
  <div class="Layer__Inner">

    <article>
      <div>
        <img srcset=''>
      </div>
      <div>
        <h2>{{ layer.title }}</h2>
        <h3>{{ layer.text }}</h3>

        {% if layer.button %}
        <div>{{ layer.button }}</div>
        {% endif %}

        {% for link in layer.links %}
        <a href='{{ link.target }}'>{{ link.text }}</a>
        {% endfor %}

      </div>
    </article>

  </div>
</section>
{% endfor %}

<section class="Layer">
  <div class="Layer__Inner">

    {% for app in page.apps %}
    <article>
      <div>
        <img srcset='{{ app.icon }}_2x.png 2x, {{ app.icon }}.png'>
      </div>
      <div>
        <h3>{{ app.title }}</h3>
        <p>{{ app.text }}</p>

        {% for link in app.links %}
        <a href='{{ link.target }}'>{{ link.text }}</a>
        {% endfor %}

      </div>
    </article>
    {% endfor %}

  </div>
</section>
